body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000b6;
    background-color: #fff4fb;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right:1em;
    max-width: 750px;
}

header {
    display: flex;
    justify-content: center;
    color: inherit;
    padding: 1.5em 0;
    box-shadow: 0 0 10px #2c2c2c81;
    position:fixed;
    background-color: rgb(224, 0, 123);
    width: 100%;    
    
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.3em;
        width: 100%;
        
        input {
            border: none;
            height: 45px;
            cursor: pointer;
            border-radius: 5px;
        }

        select,
        button {
            color: inherit;
            border: 1px solid #00000049;
            background-color: #ffffff;
            padding: 0.9em 1em;
            border-radius: 5px;
            cursor: pointer;
            
        }
        button {
            flex-grow: 1;
        }
        select {
          flex-grow: 3;
       }     
               
        button:hover {
            background-color: rgb(146, 0, 61);
            color: #fff;
        }
   }
}

#color-pallet {
      #color-container {
        display: grid;
        grid-template-columns: repeat(6, auto);
        padding: 0.3em 0;
        
        .colors {
            display: flex;
            justify-content: center;
            align-items: end;
            border-radius: 8px;
            margin-top: 140px;
            background-color: rgb(253, 207, 147);
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            min-height: 40vh;
            
            span {
                
                background-color: #FFFDFE;
                width: 100%;
                font-size: 0.8rem;
                padding:1em 0;
                text-align: center;
                color:#aaa;
            }
        }
    }
}